<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <title>Leyou Mall--Payment</title>

    <link rel="stylesheet" type="text/css" href="css/webbase.css"/>
    <link rel="stylesheet" type="text/css" href="css/pages-getOrderInfo.css"/>
</head>

<body>
<!--head-->
<div id="orderInfoApp">
    <div class="top">
        <shortcut/>
    </div>

    <div class="cart py-container">
        <!--logoArea-->
        <div class="logoArea">
            <div class="fl logo"><span class="title">Pago</span></div>
        </div>

        <!--主内容-->
        <div class="checkout py-container">
            <div class="checkout-tit">
                <h4 class="tit-txt">Rellenar y chequear los datos de pedidos</h4>
            </div>
            <div class="checkout-steps">
                <!--收件人信息-->
                <div class="step-tit">
                    <h5>
                        Destinatario<span
                    ><a
                            data-toggle="modal"
                            data-target=".edit"
                            data-keyboard="false"
                            class="newadd"
                    >Añadir nueva dirección</a
                    ></span
                    >
                    </h5>
                </div>
                <div class="step-cont">
                    <div class="addressInfo">
                        <ul class="addr-detail">
                            <li class="addr-item" v-for="(a,i) in addresses" :key="i">
                                <div>
                                    <div
                                            :class="{con:true,name:true,selected:i === selectedAddress}"
                                    >
                                        <a href="javascript:void(0)" @click.stop="selectedAddress=i"
                                        >{{a.name}}<span title="Cancelar"></span>&nbsp;</a
                                        >
                                    </div>
                                    <div class="con address">
                                        {{a.state + "  " + a.city + "  " + a.district + "  " + a.address + " "}}
                                        <span>{{a.phone}}</span>
                                        <span class="base" v-if="a.defaultAddress">por defecto</span>
                                        <span class="edittext">
                                            <a
                                                data-toggle="modal"
                                                @click="editAddress(a.id)"
                                                data-target=".edit"
                                                data-keyboard="false">Editar</a>
                                            <a href="javascript:void(0)"
                                                        @click="deleteAddress(a.id)">Eliminar</a></span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </li>
                        </ul>
                        <!--添加地址-->
                        <div
                                tabindex="-1"
                                role="dialog"
                                data-hasfoot="false"
                                class="sui-modal hide fade edit"
                        >
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button
                                                type="button"
                                                @click="clear"
                                                data-dismiss="modal"
                                                aria-hidden="true"
                                                class="sui-close"
                                        >
                                            ×
                                        </button>
                                        <h4 id="myModalLabel" class="modal-title">
                                            {{isEdit ? "Editar" : "Añadir"}} una dirección
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        <form action="" class="sui-form form-horizontal">
                                            <div class="control-group">
                                                <label class="control-label"
                                                >Nombre y Apellido：</label
                                                >
                                                <div class="controls">
                                                    <input v-model="addressForm.name" type="text" class="input-medium"/>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">Móvil：</label>
                                                <div class="controls">
                                                    <input v-model="addressForm.phone" type="text"
                                                           class="input-medium"/>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">Comunidad：</label>
                                                <div class="controls">
                                                    <input v-model="addressForm.state" type="text"
                                                           class="input-medium"/>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">Ciudad：</label>
                                                <div class="controls">
                                                    <input v-model="addressForm.city" type="text" class="input-medium"/>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">Zona：</label>
                                                <div class="controls">
                                                    <input v-model="addressForm.district" type="text"
                                                           class="input-medium"/>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">C.P：</label>
                                                <div class="controls">
                                                    <input v-model="addressForm.zipCode" type="text"
                                                           class="input-medium"/>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">Dirección：</label>
                                                <div class="controls">
                                                    <input v-model="addressForm.address" type="text"
                                                           class="input-large"/>
                                                </div>
                                            </div>

                                            <div class="control-group">
                                                <label class="control-label">Alias：</label>
                                                <div class="controls">
                                                    <select class="select" v-model="addressForm.label">
                                                        <option value="home">Casa</option>
                                                        <option value="firm">Empresa</option>
                                                        <option value="school">Escuela</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <div style="margin-left: 100px">
                                                    <input type="checkbox" v-model="addressForm.defaultAddress"
                                                           class="checkbox">por defecto
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button
                                                type="button"
                                                @click="addressSave"
                                                data-ok="modal"
                                                class="sui-btn btn-primary btn-large"
                                        >
                                            Confirmar
                                        </button>
                                        <button
                                                type="button"
                                                @click="clear"
                                                data-dismiss="modal"
                                                class="sui-btn btn-default btn-large"
                                        >
                                            Cancelar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--确认地址-->
                    </div>
                    <div class="hr"></div>
                </div>
                <div class="hr"></div>
                <!--支付和送货-->
                <div class="payshipInfo">
                    <div class="step-tit">
                        <h5>Forma de pago</h5>
                    </div>
                    <div class="step-cont">
                        <ul class="payType">
                            <li
                                    :class="{selected: order.paymentType === 1}"
                                    @click="order.paymentType = 1"
                            >
                                Wechat<span title="点击取消选择"></span>
                            </li>
                            <li
                                    :class="{selected: order.paymentType === 2}"
                                    @click="order.paymentType = 2"
                            >
                                Pago contra Rembolso<span title="点击取消选择"></span>
                            </li>
                        </ul>
                    </div>
                    <div class="hr"></div>
                    <div class="step-tit">
                        <h5>Detalle de pedido</h5>
                    </div>
                    <div class="step-cont">
                        <ul class="send-detail">
                            <li>
                                <div class="sendGoods">
                                    <ul
                                            class="yui3-g"
                                            v-for="cart in carts"
                                            :key="cart.skuId"
                                    >
                                        <li class="yui3-u-1-6">
                          <span
                          ><img width="70px" height="70px" :src="cart.image"
                          /></span>
                                        </li>
                                        <li class="yui3-u-7-12">
                                            <div class="desc">{{cart.title}}</div>
                                            <div class="seven">
                            <span v-for="(v, k) in JSON.parse(cart.ownSpec)" :key="k"
                            >{{v + ' '}}</span
                            >
                                            </div>
                                        </li>
                                        <li class="yui3-u-1-12">
                                            <div class="price" style="color: cadetblue">
                                                ￥{{ly.formatPrice(cart.price)}}
                                            </div>
                                        </li>
                                        <li class="yui3-u-1-12">
                                            <div class="num">X{{cart.num}}</div>
                                        </li>
                                        <li class="yui3-u-1-12">
                                            <div class="exit"></div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="hr"></div>
                </div>
                <div class="linkInfo">
                    <div class="step-tit">
                        <h5>Dato de factura:</h5>
                    </div>
                    <div class="step-cont">
                        <span>普通发票（电子）</span>
                        <span>个人</span>
                        <span>明细</span>
                    </div>
                </div>
                <div class="cardInfo">
                    <div class="step-tit">
                        <h5>使用优惠/抵用</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="order-summary">
            <div class="static fr">
                <div class="list">
                    <span><i class="number">{{total}}</i> artículos，Importe </span>
                    <em class="allprice">¥{{ly.formatPrice(totalPrice)}}</em>
                </div>
                <div class="list">
                    <span>Descuento：</span>
                    <em class="money">{{ly.formatPrice(cashback)}}</em>
                </div>
                <div class="list">
                    <span>portes：</span>
                    <em class="transport">{{ly.formatPrice(order.postFee)}}</em>
                </div>
            </div>
        </div>
        <div class="clearfix trade">
            <div class="fc-price">
                Importe a pagar:　<span class="price"
            >¥{{ly.formatPrice(actualPrice)}}</span
            >
            </div>
            <div class="fc-receiverInfo">
                Enviar a:{{addresses[selectedAddress].address}}
                Destinatario：{{addresses[selectedAddress].name}}
                {{addresses[selectedAddress].phone}}
            </div>
        </div>
        <div class="submit">
            <a
                    class="sui-btn btn-xlarge"
                    href="javascript:;"
                    @click.prevent="submit()"
                    style="color: white; background-color: cadetblue"
            >Entregar</a
            >
        </div>
    </div>
</div>
<script src="./js/vue/vue.js"></script>
<script src="./js/axios.min.js"></script>
<script src="./js/common.js"></script>
<script type="text/javascript">
    var orderInfoVm = new Vue({
        el: "#orderInfoApp",
        data: {
            ly,
            isEdit: false, //新增或修改 标记
            addresses: [],
            addressForm: {
                name: '', // 收件人姓名
                phone: '', // 电话
                state: '', // 省份
                city: '', // 城市
                district: '', // 区
                address: '', // 街道地址
                zipCode: '', // 邮编
                defaultAddress: false, //是否为默认地址
                label: '', //标签
            },
            selectedAddress: 0,
            order: {
                paymentType: 1, //付款方式，默认1：微信支付
                postFee: 1000,
            },
            carts: [],
            cashback: 500,
        },
        created() {
            this.loadData();
        },
        computed: {
            total() {
                return this.carts.reduce((c1, c2) => c1 + c2.num, 0);
            },
            totalPrice() {
                return this.carts.reduce((c1, c2) => c1 + c2.num * c2.price, 0);
            },
            actualPrice() {
                return this.totalPrice + this.order.postFee - this.cashback;
            },
        },
        methods: {
            loadData() {
                ly.verify()
                    .then((res) => {
                        //已经登录，获取购物车中要下单的信息
                        this.carts = ly.store.get("LY_SELECTED") || [];
                        //获取用户的地址信息
                        ly.http.get("/order/order/address").then(({data}) => {
                            let temp;
                            for (let i = 0; i < data.length; i++) {
                                if (data[i].defaultAddress) {
                                    temp = data[0];
                                    data[0] = data[i];
                                    data[i] = temp;
                                    break;
                                }
                            }
                            this.addresses = data;
                        })
                    })
                    .catch(() => {
                        //未登录，重定向到登录页面
                        window.location =
                            "http://www.leyou.com/login.html?returnUrl=" +
                            window.location.href;
                    });
            },
            submit() {
                ly.verify()
                    .then(({data}) => {
                        //处理物流信息
                        const address1 = this.addresses[this.selectedAddress];
                        let addr = {
                            receiver: address1.name,
                            receiverMobile: address1.phone,
                            receiverState: address1.state,
                            receiverCity: address1.city,
                            receiverDistrict: address1.district,
                            receiverAddress: address1.address,
                            receiverZip: address1.zipCode,
                            invoiceType: 0,
                            sourceType: 2,
                        };
                        //把购物车数据处理成订单详情
                        const orderDetail = {orderDetails: this.carts};
                        //const orderDetail = { orderDetails: this.carts.map(({userId, ...rest}) => rest) };
                        //复制到订单对象
                        Object.assign(this.order, addr, orderDetail, {
                            totalPay: this.totalPrice,
                            actualPay: this.actualPrice,
                            buyerMessage: null,
                            buyerNick: data.username,
                        });
                        ly.http
                            .post("/order/order", this.order, {
                                //在axios内部会自动调用 JSON.parse()方法把json字符串转为JS数据，就会出现进度损失
                                transformResponse: [//对响应进行处理的回调
                                    function (data) {
                                        //不对data做任何处理，直接返回
                                        return data;
                                    },
                                ],
                            })
                            .then(({data}) => {
                                //在线支付，需要到付款页
                                /*window.location =
                                  "http://www.leyou.com/pay.html?orderId=" + data;*/
                                window.location = "http://www.leyou.com/pay.html";
                                ly.store.set("orderId", data);
                                ly.store.set("totalPay", this.actualPrice);
                            }).catch((resp) => {
                            alert("No ha sido entregado el pedido, posiblemente por la falta de stock!");
                        });
                    })
                    .catch(() => {
                        window.location =
                            "http://www.leyou.com/login.html?returnUrl=http://www.leyou.com/getOrderInfo.html";
                    });
            },
            addressSave() {
                //1. 验证登录
                ly.verify().then(() => {
                    //2. 登录，发请求，保存或修改地址
                    if (this.isEdit === false) {
                        //2.1 新增
                        ly.http.post("/order/order/address", this.addressForm).then(() => {
                            //保存成功，重新加载数据
                            this.loadData();
                            //清空表单
                            this.clear();
                        }).catch();
                    } else {
                        //2.2 修改
                        ly.http.put("/order/order/address", this.addressForm).then(() => {
                            //修改成功，重新加载数据
                            this.loadData();
                            //清空表单
                            this.clear();
                        }).catch();
                    }
                }).catch(() => {
                    //3.未登录
                    window.location.href = "/login.html?returnUrl=" + window.location.href;
                })
            },
            editAddress(id) {
              this.isEdit = true;
              ly.verify().then(() => {
                  ly.http.get("/order/order/address/" + id).then(({data}) => {
                      this.addressForm = data;
                  })
              }).catch(() => {
                  window.location.href = "/login.html?returnUrl=" + window.location.href;
              })
            },
            deleteAddress(id) {
                ly.verify().then(() => {
                    ly.http.delete("/order/order/address/" + id).then(() => {
                        this.loadData();
                    }).catch(() => {
                        window.location.href = "/login.html?returnUrl=" + window.location.href;
                    })
                })
            },
            clear() {

            },
        },
        components: {
            shortcut: () => import("/js/pages/shortcut.js"),
        },
    });
</script>

<!-- 底部栏位 -->
<!--页面底部，由js动态加载-->
<div class="clearfix footer"></div>
<script
        type="text/javascript"
        src="js/plugins/jquery/jquery.min.js"
></script>
<script type="text/javascript">
    $(".footer").load("foot.html");
</script>
<!--页面底部END-->

<script
        type="text/javascript"
        src="js/plugins/jquery.easing/jquery.easing.min.js"
></script>
<script type="text/javascript" src="js/plugins/sui/sui.min.js"></script>
<script type="text/javascript" src="js/pages/getOrderInfo.js"></script>
</body>
</html>
