<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <title>Order Details</title>
    <link rel="icon" href="assets/img/favicon.ico">

    <link rel="stylesheet" type="text/css" href="css/webbase.css"/>
    <link rel="stylesheet" type="text/css" href="css/pages-seckillOrder.css"/>
</head>

<body>
<!--页面顶部白条条，由js动态加载-->
<script type="text/javascript" src="plugins/jquery/jquery.min.js"></script>
<div id="orderDetailApp">
    <div class="nav-bottom">
        <ly-top></ly-top>
    </div>

    <script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#service").hover(function () {
                $(".service").show();
            }, function () {
                $(".service").hide();
            });
            $("#shopcar").hover(function () {
                $("#shopcarlist").show();
            }, function () {
                $("#shopcarlist").hide();
            });

        })
    </script>
    <script type="text/javascript" src="js/plugins/jquery.easing/jquery.easing.min.js"></script>
    <script type="text/javascript" src="js/plugins/sui/sui.min.js"></script>
    <script type="text/javascript" src="js/plugins/jquery-placeholder/jquery.placeholder.min.js"></script>
    <script type="text/javascript" src="js/widget/nav.js"></script>

    <!--header-->
    <div id="account">
        <div class="py-container">
            <div class="yui3-g home">
                <!--左侧列表-->
                <div class="yui3-u-1-6 list">

                    <div class="person-info">
                        <div class="person-photo"><img src="img/_/photo.png" alt=""></div>
                        <div class="person-account">
                            <span class="name">{{user.username}}</span>
                            <span class="safe">Seguridad</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="list-items">
                        <dl>
                            <dt><i>·</i>Centro de pedidos</dt>
                            <dd><a href="home-index.html" class="list-active">Mis pedidos</a></dd>
                            <dd><a href="home-order-pay.html">pdt. de pagar</a></dd>
                            <dd><a href="home-order-send.html">pdt. de enviar</a></dd>
                            <dd><a href="home-order-receive.html">pdt. de entregar</a></dd>
                            <dd><a href="home-order-evaluate.html">pdt. de comentar</a></dd>
                        </dl>
                        <dl>
                            <dt><i>·</i> Mi Zona</dt>
                            <dd><a href="home-person-collect.html">Mis favoritos</a></dd>
                            <dd><a href="home-person-footmark.html">Mi historia</a></dd>
                        </dl>
                        <dl>
                            <dt><i>·</i> Seguimiento</dt>
                        </dl>
                        <dl>
                            <dt><i>·</i> Configuración</dt>
                            <dd><a href="home-setting-info.html">Dato personal</a></dd>
                            <dd><a href="home-setting-address.html">Direcciones</a></dd>
                            <dd><a href="home-setting-safe.html">Seguridad</a></dd>
                        </dl>
                    </div>
                </div>
                <!--右侧主内容-->
                <div class="yui3-u-5-6">
                    <div class="body">
                        <div class="order-detail">
                            <h4>Detalle del pedido</h4>
                            <div class="order-bar">
                                <div class="sui-steps-round steps-round-auto steps-4">
                                    <div :class="{finished: orderStatus.status >= 1}">
                                        <div class="wrap">
                                            <div class="round">1</div>
                                            <div class="bar"></div>
                                        </div>
                                        <label>
                                            <span>{{this.states[0]}}</span>
                                            <span>{{ly.formatDate(orderStatus.createTime)}}</span>
                                        </label>
                                    </div>
                                    <div :class="orderStatus.status >=2? 'current' : 'todo'" v-if="orderStatus.status != 5">
                                        <div class="wrap">
                                            <div class="round">2</div>
                                            <div class="bar"></div>
                                        </div>
                                        <label>
                                            <span>{{this.states[1]}}</span>
                                            <span>{{ly.formatDate(orderStatus.paymentTime)}}</span>
                                        </label>
                                    </div>
                                    <div class="current" v-else>
                                        <div class="wrap">
                                            <div class="round">2</div>
                                        </div>
                                        <label>
                                            <span>{{this.states[4]}}</span>
                                            <span>{{ly.formatDate(orderStatus.closeTime)}}</span>
                                        </label>
                                    </div>
                                    <div :class="orderStatus.status >=3? 'current' : 'todo'" v-show="orderStatus.status != 5">
                                        <div class="wrap">
                                            <div class="round">3</div>
                                            <div class="bar"></div>
                                        </div>
                                        <label>
                                            <span>{{this.states[2]}}</span>
                                            <span>{{ly.formatDate(orderStatus.consignTime)}}</span>
                                        </label>
                                    </div>
                                    <div :class="orderStatus.status >=4? 'current' : 'todo'" v-show="orderStatus.status != 5">
                                        <div class="wrap">
                                            <div class="round">4</div>
                                            <div class="bar"></div>
                                        </div>
                                        <label>
                                            <span>{{this.states[3]}}</span>
                                            <span>{{ly.formatDate(orderStatus.endTime)}}</span>
                                        </label>
                                    </div>

                                    <div :class="orderStatus.status > 5? 'current' : 'todo last'" v-show="orderStatus.status != 5">
                                        <div class="wrap">
                                            <div class="round">5</div>
                                        </div>
                                        <label>
                                            <span>{{this.states[5]}}</span>
                                            <span>{{ly.formatDate(orderStatus.commentTime)}}</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="order-state">
                                <p>Estado del pedido: <span class="red">{{states[orderStatus.status - 1]}}</span></p>
                                <p>Auto-Confirma en 6 días</p>
                            </div>
                        </div>
                        <div class="order-info">
                            <h5>Datos del pedido</h5>
                            <p>Dirección：{{order.receiverAddress}} </p>
                            <p>Número del pedido：{{this.orderId}}</p>
                            <p>Pedido creado：{{ly.formatDate(orderStatus.createTime)}}</p>
                            <p v-show="orderStatus.status >1 && orderStatus.status !==5">Pedido pagado：{{ly.formatDate(orderStatus.paymentTime)}}</p>
                            <p>Forma de pago：Wechat Pay</p>
                            <p v-show="orderStatus.status >=3 && orderStatus.status !==5">Pedido enviado：{{ly.formatDate(orderStatus.consignTime)}}</p>
                        </div>
                        <div class="order-goods">
                            <table class="sui-table">
                                <thead>
                                <th class="center">Artículo</th>
                                <th class="center">Precio</th>
                                <th class="center">Cantidad</th>
                                <th class="center">Descuento</th>
                                <th class="center">Estado</th>
                                </thead>

                                <tbody>
                                <tr>
                                    <td colspan="5">Número del pedido：{{this.orderId}}</td>
                                </tr>
                                <tr v-for="(d,j) in order.orderDetails" :key="j">
                                    <td width="35%">
                                        <div class="typographic"><img width="70px" height="70px" :src="d.image"/>
                                            <span>{{d.title}}</span>
                                            <span  v-for="(v,k) in JSON.parse(d.ownSpec)"
                                                  :key="k">{{v}}</span>
                                        </div>
                                    </td>
                                    <td width="5%" class="center">
                                        <ul class="unstyled">
                                            <li>¥{{ly.formatPrice(d.price)}}</li>
                                        </ul>
                                    </td>
                                    <td width="5%" class="center">{{d.num}}</td>
                                    <td width="8%"
                                        class="center">null</td>
                                    <td width="8%"
                                        class="center">{{states[orderStatus.status - 1]}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="order-price">
                                <p>Importe total：￥{{ly.formatPrice(order.actualPay)}}</p>
                                <p>Portes：￥0.00</p>
                                <p>Descuento：￥5.00</p>
                                <h4 class="red">Importe pagado：￥{{ly.formatPrice(order.totalPay)}}</h4>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <!--猜你喜欢-->
                        <div class="like-title">
                            <div class="mt">
                                <span class="fl"><strong>Best Seller</strong></span>
                            </div>
                        </div>
                        <div class="like-list">
                            <ul class="yui3-g">
                                <li class="yui3-u-1-4">
                                    <div class="list-wrap">
                                        <div class="p-img">
                                            <img src="img/_/itemlike01.png"/>
                                        </div>
                                        <div class="attr">
                                            <em>DELL戴尔Ins 15MR-7528SS 15英寸 银色 笔记本</em>
                                        </div>
                                        <div class="price">
                                            <strong>
                                                <em>¥</em>
                                                <i>3699.00</i>
                                            </strong>
                                        </div>
                                        <div class="commit">
                                            <i class="command">已有6人评价</i>
                                        </div>
                                    </div>
                                </li>
                                <li class="yui3-u-1-4">
                                    <div class="list-wrap">
                                        <div class="p-img">
                                            <img src="img/_/itemlike02.png"/>
                                        </div>
                                        <div class="attr">
                                            <em>Apple苹果iPhone 6s/6s Plus 16G 64G 128G</em>
                                        </div>
                                        <div class="price">
                                            <strong>
                                                <em>¥</em>
                                                <i>4388.00</i>
                                            </strong>
                                        </div>
                                        <div class="commit">
                                            <i class="command">已有700人评价</i>
                                        </div>
                                    </div>
                                </li>
                                <li class="yui3-u-1-4">
                                    <div class="list-wrap">
                                        <div class="p-img">
                                            <img src="img/_/itemlike03.png"/>
                                        </div>
                                        <div class="attr">
                                            <em>DELL戴尔Ins 15MR-7528SS 15英寸 银色 笔记本</em>
                                        </div>
                                        <div class="price">
                                            <strong>
                                                <em>¥</em>
                                                <i>4088.00</i>
                                            </strong>
                                        </div>
                                        <div class="commit">
                                            <i class="command">已有700人评价</i>
                                        </div>
                                    </div>
                                </li>
                                <li class="yui3-u-1-4">
                                    <div class="list-wrap">
                                        <div class="p-img">
                                            <img src="img/_/itemlike04.png"/>
                                        </div>
                                        <div class="attr">
                                            <em>DELL戴尔Ins 15MR-7528SS 15英寸 银色 笔记本</em>
                                        </div>
                                        <div class="price">
                                            <strong>
                                                <em>¥</em>
                                                <i>4088.00</i>
                                            </strong>
                                        </div>
                                        <div class="commit">
                                            <i class="command">已有700人评价</i>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- 底部栏位 -->
        <!--页面底部，由js动态加载-->
        <div class="clearfix footer"></div>
        <script type="text/javascript">$(".footer").load("foot.html");</script>
        <!--页面底部END-->
    </div>
</div>
</body>
<script src="./js/vue/vue.js"></script>
<script src="./js/axios.min.js"></script>
<script src="./js/common.js"></script>
<script src="./js/plugins/jquery/jquery.cookie.js"></script>
<script type="text/javascript">
    var orderDetailVm = new Vue({
        el: '#orderDetailApp',
        data: {
            ly,
            user: {},
            orderId: 0,
            order: {},
            orderStatus:{},
            states: [
                'Creado',
                'Pagado',
                'Enviado',
                'Entregado',
                'Cancelado',
                'Comentado'
            ]
        },
        created() {
            this.loadDetails();
        },
        methods: {
            loadDetails() {
                ly.verify().then(resp => {
                    this.user = resp.data;
                    this.orderId = ly.store.get('orderId');
                    ly.http.get('order/order/' + this.orderId).then((resp) => {
                        this.order = resp.data;
                    })
                    ly.http.get('order/order/orderStatus/' + this.orderId).then((resp) => {
                      this.orderStatus = resp.data;
                    });
                }).catch(() => {
                    window.location =
                        "http://www.leyou.com/login.html?returnUrl=" + window.location.href;
                })
            },

        },
        components: {
            lyTop: () => import('./js/pages/top.js'),
        }
    });
</script>
</html>